html {
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: #000414;
    font-family: 'Poppins', sans-serif;;
    color: aquamarine;
}
p{
    margin-block-start: 0px;
    margin-block-end: 0px;
}
h1{
    color: #39bee3;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
#grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 640px;
    width: 640px;
}
.cells {
    flex: auto;
    height:20px; 
    width:20px; 
    border: 1px solid rgb(185, 185, 185); 
    margin: -1px; 
    background-color: white;
}
.user-area{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}
.user-component{
    width: 100%;
}

#sizeSlider {
    -webkit-appearance: none;
    background-color: #39bee3;
    border-radius: 10px;
    outline: none;
}